/* External css */
/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');
/* Universal selector */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Element selector */
h1{
    font-family: "Playwrite IN", serif;
}
/* Element to element selectors */
ul li{
    color: blue;
}
ol li{
    color: green;
}

/* id selector */
#heading{
    color: blue;
}

/* class selector */
/* .heading{
    color: green;
} */

h1{
    font-size: 64px; /* increasing font size*/
    font-weight: 900; /* increasing font weight*/
    color: hsl(167, 43%, 67%); /* changing font color*/
    background: red;/* changing bg color*/
    text-align: center; /* centering the text, text-align:right; for right side the text */
    text-shadow: 18px -22px 2px black; /* 1st value left and right, second value top and bottom, third blur, 4th value color*/
    text-decoration: underline; /* overline, line-through*/
}
img{
    width: 100%;
    height: 50vh;
}

/* Css colors RGB(red, green, blue)0-255, Hex(Hexadecimal)# a-f and 0-255, HSL(Hue,Saturation,Lightning)0-360deg,0-100% and 0-100% */
h4{
    color: rgb(243, 20, 35);/* RGB Colors*/
    color: hsl(243, 20%, 35%);/* HSL Colors*/
    color: #ad34ce;/* HEX Colors*/
}

/* Css Background properties */
h5{
    background-image: url("./HAPPY_KENNEL_PET_ZONE_LOGO_1-1__1_-removebg-preview.png");/* Image in background*/
    height: 100vh;/* TO setting height for the element*/
    background-repeat: no-repeat;/* TO remove the repeated images*/
    background-size: cover;/* to set size of the bg img and also gave values 100vw and 100vh*/
    background-attachment: fixed;/* to set the bg img fixed*/
}

/* diff b/w visibility hidden and display none */
h6{
    display: none; /* to hide the both Element and space */
    display: block; /* using for hidden element to visible*/
    visibility: hidden; /* Only the element will be hidden*/
    visibility: visible; /* using for hidden element to visible*/
}

/* Box model properties */
h1{
    border: 5px solid #ed45ac;/* To set the border to the element dotted,dashed,groove and double*/
    border-top: 5px dotted #ed76ac;/* Using this we can set the diff top border*/
    border-bottom: none;/* Using this we can hide the bottom border*/
    border-radius: 30px;/* Setting border radius corners*/
    text-align: center; /* centered the text*/
    padding: 20px 30px 40px 50px;/* Space inside the element top,right,bottom and left*/
    margin: 20px 30px 40px 50px;/* Space outside the element top,right,bottom and left*/
    margin: 0 auto;/* centering the entire box*/
    box-shadow: 3px 3px 5px 5px rgba(0,0,0);/* shadow for the box left and right, top and bottom, blur, width*/
    width: 30%;/* Setting width*/
    height: 40vh;/* Setting height*/
    color: #436677;
    background-color: #634782;
}
